<%- include("partials/header"); -%>
<main id="swup" class="transition-fade">
<div class="contact_container">
    <div class="nested_c_container">
    <h1> Contact Me </h1>
    <p>Hello! I'm Bharath, an 18-year-old chap from Hyderabad looking for cool and exciting internship
        opportunities. Long story short, I'm currently looking for a new project where I could step in on many
        different levels
        <br>
        In case of any questions pertaining to my project, please don't hesitate to contact me
    </p>
</div>
        <div class="rows">
        <a class="btn btn-outline-dark btn-lg" aria-current="page" href="mailto:bharathxxd@email.com"
            style="margin-right:10px;">
            bharathxxd@gmail.com
        </a>
        <a class="btn btn-outline-dark btn-lg" aria-current="page" href="tel:824-722-8027">
            8247228027
        </a>
    </div>
</div>
    </main>
    <%- include("partials/footer"); -%>