<%-include('partials/header') %>
<main id="swup" class="transition-fade" id="main_container">
<div class="form-signin">
  <div class="container">
    <form action="/login" method="post">
      <h1>Login</h1>
        <input
          type="email"
          class="form-control"
          placeholder="Username"
          name="username"
          autocomplete="off"
          required
        />
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          required
        />
      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>     
      <h5>Haven't registered yet?
        <a href="/register">Register Now</a>
      </h5>
      <%if(error && error.length > 0){%>
        <div class="alert alert-danger"><%=error%></div>
    <%}%>
        <%if(success && success.length > 0){%>
        <div class="alert alert-success"><%=success%></div>
    <%}%>
      <a type="button" href="/auth/google" class="btn btn-light googleBtn" style="margin-top:10px;">
        <span> Sign in with Google</span>
        <ion-icon name="logo-google" class="nav_icon"></ion-icon>
      </a>
    </form>
  </div>
  </div>
</main>
<%-include('partials/footer') %>
