<%-include('partials/header') %>
<main id="swup" class="transition-fade">
<div class="form-signin">
  <div class="container">
    <form action="/register" method="post">
      <h1>Register</h1> 
      <input
          type="email"
          class="form-control"
          placeholder="Username"
          name="username"
          autocomplete="off"
          required
        />
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          required
        />
        <input class="newsletter" type="checkbox" name="newsletter" id="newsletter" value="checked">
        <label>I agree to Receive Newsletters via Email</label>
      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
      <div class="err_msg">
      <%if(error && error.length > 0){%>
        <div class="alert alert-danger"><%=error%></div>
    <%}%>
        <%if(success && success.length > 0){%>
        <div class="alert alert-success"><%=success%></div>
    <%}%>
  </div>
      <a type="button" href="/auth/google" class="btn btn-light googleBtn" style="margin-top:10px;">
        <span> Sign in with Google</span>
        <ion-icon name="logo-google" class="nav_icon"></ion-icon>
      </a>
    </form>
  </div>
  </div>
  </main>
<%-include('partials/footer') %>
