<%- include("partials/header"); -%>
    <div class="contact_container">
        <div class="nested_report_container">
            <h1> Found something inappropriate? </h1>
            <p>
                My apologies for the content that isn't meant to be here
                <br>
                It would be helpful if you could enter the author name and title, so that we can quickly remove it 😃
            </p>
        </div>
        <form action="/report" method="post">
            <label for="firstName" class="form-label">Author</label>
            <br>
            <div class="form_input">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="reportAuthor"
                        autocomplete="off">
                </div>
            </div>
            <button type="submit" class="btn btn-danger" value="report" name="reportBtn" class="btn btn-dark"
            id="liveToastBtn">Report</button>
        </form>
        </div>        
        </main>
        <%- include("partials/footer"); -%>