<%- include("partials/header"); -%>
<main id="swup" class="transition-fade">
    <div class="report_container">
        <div class="nested_report_container">
            <h1> Found something inappropriate? </h1>
            <p>
                My apologies for the content that isn't meant to be here
                <br>
                It would be helpful if you could enter the author name, so that we can quickly remove it 😃
            </p>
        </div>
        <form action="/report" method="post">
            <label for="firstName" class="form-label">Author</label>
            <br>
            <div class="form_input">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="reportAuthor"
                        autocomplete="off" required>
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg" value="report" name="reportBtn" class="btn btn-dark"
            id="liveToastBtn">Report</button>
            <div class="report_btn">
            <%if(error && error.length> 0){%>
                <div class="alert alert-danger">
                    <%=error%>
                </div>
                <%}%>
                    <%if(success && success.length> 0){%>
                        <div class="alert alert-success report-success">
                            <%=success%>
                        </div>
                        <%}%>
                    </div>
        </form>
    </div>
    </main>
    <%- include("partials/footer"); -%>